body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #2e5539,#4a9862,#4ead85,#46b5a7,#4ebfc4,#92ced1 ); /* Dark rainbow background */
    color: #fff; 
  }
  
  header {
    background: linear-gradient(to right, #6a737c,#bfcfe1,#aad2dd,#73bbba,#4faca1);
    padding:0.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    height: 7%;
    width: 7%;
    border-radius: 50%;
    margin-right: 10px; 
  }
  
  h1 {
    margin: 0;
    font-size: 24px; 
    font-family: monospace;
    color: #fff; 
  }
  
  nav {
    display: flex;
  }
  
  .nav-icon {
    width: 20px; 
    height: 20px; 
    margin-right: 5px;
  }
  
  nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 2px 15px; 
    background-color: #000000; 
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  nav a:hover {
    background-color: #e4867f; 
  }
  
  nav a img {
    margin-right: 5px;
  }
  
  
  .hero {
    padding: 230px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("Image/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero h1{
    text-align: center;
    color: #000000;
  }
  
  .hero p {
    width: 68ch;
  animation: typing 2s steps(30), blink .5s step-end infinite alternate;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid;
  font-family: monospace;
  margin: 0 auto;
  font-size: 1.5em;
  color: #E8CE4D;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
  .hero h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .help-terms {
    text-align: center;
    display: inline;
    color: #000000;
}

.help-terms a.facebook-icon{
  margin-left: 15px;
}
.help-terms  img{
  width: 30px;
  height: 30px;
}
.dot-sign {
  font-size: 1.5em;
  margin: 0 5px;
  color: #000000;
}
  