body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #2e5539,#4a9862,#4ead85,#46b5a7,#4ebfc4,#92ced1 ); /* Dark rainbow background */
    color: #fff; /* Light text color */
  }
  
  header {
    background: linear-gradient(to right, #6a737c,#bfcfe1,#aad2dd,#73bbba,#4faca1);
    padding: 0.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    height: 7%;
    width: 7%;
    border-radius: 50%;
    margin-right: 10px; /* Add some spacing between the logo and text */
  }
  
  h1 {
    margin: 0;
    font-size: 24px; /* Adjust the font size as needed */
    font-family: monospace;
    color: #fff; /* Text color for the website name */
  }
  
  nav {
    display: flex;
  }

  .nav-icon {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    margin-right: 5px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 0 8px; /* Adjust padding as needed */
    background-color: #000000; /* Dark background color for the button */
    border: none; /* Remove border */
    border-radius: 10px; /* Add rounded corners to the button */
    cursor: pointer; /* Add a pointer cursor for better interaction */
    transition: background-color 0.3s ease; 
  }
  nav a:hover {
    background-color: #e4867f; /* Darker background color on hover */
  }
  nav a img {
    margin-right: 5px;
  }

  .help-terms {
    text-align: center;
    display: inline;
    color: #000000;
}

.help-terms a.facebook-icon{
  margin-left: 15px;
}
.help-terms  img{
  width: 30px;
  height: 30px;
}
.dot-sign {
  font-size: 1.5em;
  margin: 0 5px;
  color: #000000;
}